* {
  margin: 0;
  padding: 0;
}

body{
  min-width:700px;
}

nav .img-fluid {
  height: 10vh;
}

#menu .img-fluid {
  object-fit: cover;
  border-radius: 1vh;
  position: relative;
  top: -1vh;
  left: -1vh;
} 

#aboutus, #footer {
  background-color: #EDEDED;
 }

#menu, #bookings {
  background-color: #D8D9CF;
 }

 #menu h1 {
  font-size: 7vh;
  font-weight: 900;
 }

 #menu article div {
  width: 49%;
  height: 100%;
 }

 #menu article {
  background-color: #EDEDED;
  border-color: #EDEDED;
  border-radius: 10px;
 }

 #menu .producto-info{
  text-align: center;
 }
 
.navbar .navbar-nav > li > a:hover{
  color: #FF8787 !important; 
}

header {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1, li {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2vh;
}

header h1 {
  font-size: 10vh;
  font-weight: bold;
  color: black;
}

@media (min-width: 576px) {
  nav .img-fluid {
    height: 10vh;
  }
  #menu .img-fluid {
    height: 30vh;
    width: 40vw;
  }
}

@media (min-width: 768px) {
  header h1 {
    font-size: 18vh;
  }
  #menu .img-fluid {
    height: 30vh;
    width: 40vw;
  }
}

@media (min-width: 992px) {
  nav .img-fluid {
    height: 10vh;
  }
  #menu .img-fluid {
    height: 30vh;
    width: 40vw;
  }
}

@media (min-width: 1200px) {
  nav .img-fluid {
    height: 10vh;
  }
  #menu .img-fluid {
    height: 30vh;
    width: 25vw;
  }
}