* {
  margin: 0;
  padding: 0;
}

h1, h2, li {
  font-family: 'Barlow Condensed', sans-serif;
}

p, h3, table * {
  font-family: 'Montserrat', sans-serif;
}

.seccion{
  width: 100%;
  height: 100vh;
}

#seccion4 {
  height: 60vh;

}

footer {
  height: 30vh;
  background-color: #EDEDED;
}

.contenedor {
  height: 100%;
  width: 60vw;
  margin: auto;
}

#seccion1, #seccion3{
  background-color: #EDEDED;
 }
 
 #seccion2, #seccion4{
  background-color: #D8D9CF;
 }

nav {
  width: 60vw;
  height: 10vh;
  position: relative;
  top: 2vh;
  background-color: #000000;
  border-radius: 1vw;
  font-size: larger;
}

nav img {
  height: 80%;
  margin: auto 1vw;
}

nav img, nav ul{
  position: absolute;
  top: 0;
  bottom: 0;
}

nav ul {
  height: 50%;
  width: 30%;
  right: 0;
  margin: auto 0;
  text-align: center;
}

a {
  color: #EDEDED;
  text-decoration: none;
}

a:hover{
  color: #FF8787;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

#seccion1 {
  background-image: url("/images/background.png");
  background-size: cover;
}

#franja {
  position: absolute;
  top: 35vh;
  height: 30vh;
  width: 100%;
  background-color: #EDEDED;
  border-top: 1vh solid black;
  border-bottom: 1vh solid black;
}

#seccion1 p {
  z-index: 1;
  position: relative;
  top: 26%;
  text-align: center;
}

#seccion1 h1 {
  z-index: 1;
  position: relative;
  top: 26%;
  text-align: center;
  font-size: 18vh;
}

#seccion2 h1, #seccion3 h1, #seccion4 h1 {
  width: 100%;
  position: relative;
  top: 10%;
  text-align: center;
  font-size: 7vh;
}

.grid-productos {
  position: relative;
  top: 15%;
  left: -9%;
  display: grid;
  grid-template-columns: 35vw 35vw;
  grid-template-rows: 35vh 35vh;
  gap: 3vh 3vh;
}

.producto {
  display: inline-block;
  background-color: #EDEDED;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.producto-img img {
 height: 95%;
 width: 95%;
 margin: -1vh;
 object-fit: cover;
 border-radius: 1vh;
} 

.producto-img {
  display: inline-block;
  width: 55%;
  height: 100%;
}

.producto-info {
  width: 40%;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -30%;
}

.producto-info h2 {
  width: 60%;
  text-align: left;
  font-weight: bolder;
  font-size: 4vh;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}

.producto-info p {
  width: 100%;
  margin-top: 1vh;
}

#seccion3-sub1 {
  height: 40vh;
  width: 60vw;
  position: relative;
  top: 15%;
  display: flex;
}

#celda1 {
  height: 100%;
  width: 33%;
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 2%;
}

#celda2 {
  height: 100%;
  width: 67%;
  display: inline-flex;
  flex-wrap: wrap;
}

#item3, #item6 {
  height: 49%;
  width: 24.5%;
}

#item3, #item5{
  margin-right: 1%;
}

#item3, #item4 {
  margin-bottom: 1%;
}

#item4, #item5 { 
  height: 49%;
  width: 74.5%;
}

.sub-seccion img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2vh;
}

#item5 img {
  object-position: 10% 20%;
}

#item4 img {
  object-position: 0 90%;
}

#seccion3-sub2 {
  height: 17vh;
  width: 60vw;
  position: relative;
  top: 20%;
  display: inline-flex;
} 

#seccion3-sub2-item1 {
  height: 100%;
  width: 40%;
  border-left: 1vh solid black;
}

#seccion3-sub2-item1 h3 {
  margin-left: 2vh;
}

#seccion3-sub2-item1 li {
  list-style: none;
  margin-bottom: 1vh;
  font-size: large;
}

#seccion3-sub2-item1 ul {
  margin-left: 2vh;
  margin-top: 2vh;
}

#seccion3-sub2-item2 table {
  height: 100%;
  position: relative;
  left: 12%;
  border-spacing: 0;
  color: white;
}

#seccion3-sub2-item2 td {
  padding: 10px 5px;
}

#seccion3-sub2-item2 th {
  width: 10vw;
  padding: 10px 5px;
}

.horariosTitulo {
  font-weight: 400;
  text-align: left;
}

.fondoNegro {
  background-color: black;
}

.horario {
  color: black;
  text-align: center;
  font-size: medium;
}

.reserva {
  height: 40%;
  width: 100%;
  display: inline;
  position: relative;
  top: 25%;
}

.reserva .form {
  height: 20vh;
  width: 60%;
  float: left;
  display: grid;
  grid-template-columns: 60% 30%;
  gap: 2vw;
}

.reserva .form label {
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
}

.reserva .form input,  .reserva .form select{
  height: 50%;
  width: 90%;
  margin-top: 1vh;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: larger;
  background-color: #EDEDED;
  border-style: none;
}

.reserva .condiciones {
  height: 20vh;
  width: 40%;
  float: right;
  position: relative;
  left: 5%;
}

.reserva .condiciones p {
  margin: 0 0 1vh -2vh;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: large;
}

.reserva .condiciones li {
  font-family: 'Montserrat', sans-serif;
  font-size: small;
}

.reserva .condiciones input {
  margin: 2vh 0 0 -2vh;
  accent-color: black;
}

.reserva .condiciones label {
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
}

.reserva .condiciones button {
  height: 4vh;
  width: 90%;
  margin: 2vh 0 0 -2vh;
  background-color: black;
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2.3vh;
  cursor: pointer;
}

footer .contenedor {
  display: flex;
}

.datosContacto, .redesSociales {
  display: flex;
  width: 50%;
  height: 70%;
}

.datosContacto {
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.redesSociales {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
}

.logoEmpresa img {
  margin-top: 40%;
  height: 50%;
}

.datosContacto p {
  text-align: center;
  margin: 1%;
}

.footerImg {
  margin: 1%;
}
